@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #c7dfde;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  max-width: 660px;
  grid-gap: 30px;
  background: #4a726e;
  box-shadow: 0px 2.3128px 39.3176px rgba(128, 36, 36, 0.25);
  /* box-shadow: 30px 30px rgba(128, 36, 36, 0.25); */
  border-radius: 24px;
  padding: 75px 100px;
}

div {
  text-align: center;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month {
  grid-column: span 5;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 32px;
  background-color: #34d0e5;
}

.weekday {
  font-weight: bold;
}
 #sat,#sun{
     color: #891a1a;
 }
.today {
  background: #ffd200;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  color: red;
}

a {
    text-decoration: none;
    font-size:50px;

  }
  
  a:hover {
    color: rgb(23, 95, 228);
  }
  
  .previous, 
  .next {
    color: rgb(36, 12, 100);
  }
  
  footer {
   font-size: 0.6em;
   /* max-width: 1200px; */
   /* margin:40px auto; */
  }
  